# Node dependencies
node_modules/
npm-debug.log

# Python cache & virtual environments
__pycache__/
*.pyc
venv/
.venv/

# Local sensor database
data/

# Hardware & local configs
firmware/secrets.h
firmware/config.h

# OS/Editor specific files
.DS_Store
.vscode/